<!doctype html>
<html class="no-js" lang="en">
<head>
	<title>{{pageTitle}}</title>
	{{#if metaDescription}}
		<meta name="description" content="{{metaDescription}}">
	{{/if}}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="<%= cssPath %>">
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	{{{body}}}
	{{>footer}}
	<!-- @ifdef prod --><script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='https://www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-21656130-1','auto');ga('send','pageview');</script><!-- @endif -->
</body>
</html>