<!doctype html>
<html class="no-js" lang="en">
<head>
	<title>{{pageTitle}}</title>
	{{#if metaDescription}}
		<meta name="description" content="{{metaDescription}}">
	{{/if}}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="<%= cssPath %>">
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	{{{body}}}
</body>
</html>