<section class="o-full-section o-column-container u-space-between c-404">
	{{>header}}
	<div class="u-text-center">
		<h1 class="c-404__header">
			<span class="c-404__banner">404</span>
			Sorry, this page wasn't found. Please go back to the <a href="/">homepage</a>.
		</h1>
	</div>
	{{>footer decorator='c-footer--no-padding'}}
</section>