<section class="o-full-section o-column-container c-hero">
	{{>header}}
	<div class="o-column-container u-vertical-center">
		<h2 class="c-hero__tagline u-text-center">About</h2>
	</div>
</section>
<section class="o-full-section u-center u-2/3">
	<div class="o-row-container">
		<div class="c-about-column u-1/2">
			<p class="c-content-paragraph">I started front-end development in 2011. Though I graduated with a degree in English and technical writing, my personal interest in front-end development and programming background drove me to pursue it as a career.</p>
			<p class="c-content-paragraph">Front-end development is great because there are always new tools to make it easier. Staying up to date is the hard part, but it's also a welcome challenge!</p>
			<p class="c-content-paragraph">Some of my favorite tools are Node/npm, Gulp, Angular, and WebStorm as an IDE. Recently, I've been working with BEM naming conventions in CSS, and Express and Handlebars to build static sites.</p>
			<p class="c-content-paragraph">Outside of development, I enjoy exploring NYC, which I'm glad to call home as of February 2016. Nothing can compare to the restaurants, sights, and energy of this city.</p>
			<p class="c-content-paragraph">I've also recently gotten into photography, a hobby in high school that I've picked up again. I recently purchased a Sony a6000, and I look forward to working with it more.</p>
			<p class="c-content-paragraph">I also enjoy traveling, experiencing Japanese food and culture, learning Japanese, reading, and occasionally playing an RPG.</p>
		</div>
		<div class="c-about-column u-1/2">
			<img src="img/me.jpg" class="u-circle" alt="Me with the Manhattan skyline in the backround">
		</div>
	</div>
</section>
{{>footer}}