<section class="o-full-section o-column-container c-hero">
	{{>header}}
	<div class="o-column-container u-vertical-center">
		<h2 class="c-hero__tagline u-text-center">About</h2>
	</div>
</section>
<section class="o-full-section">
	<p>Content placeholder</p>
</section>
{{>footer}}