<section class="o-full-section o-column-container c-hero">
	{{>header}}
	<div class="o-column-container u-vertical-center">
		<p class="c-hero__tagline u-text-center">Fast, clean, web-based apps and sites</p>
		<h2 class="u-visuallyhidden">Specialties</h2>
		<ul class="o-row-container c-hero__specialties-list u-unstyled-list u-center">
			<li class="c-hero__specialties-item">Performance</li>
			<li class="c-hero__specialties-item">Client-side apps</li>
			<li class="c-hero__specialties-item">Node architecture</li>
			<li class="c-hero__specialties-item">Scalability</li>
		</ul>
	</div>
</section>
<section id="skills" class="o-full-section">
	<h2 class="u-text-center c-skills__section-header">Skills</h2>
	<div class="o-row-container c-skills__content">
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--node u-center"></div>
			<div>
				<h3 class="c-skills__heading">Node</h3>
				<p>Express, Handlebars, Jade, npm, Grunt, Gulp, optimization tasks (e.g., compressed images, minified CSS/JS).</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--angular u-center"></div>
			<div>
				<h3 class="c-skills__heading">Angular</h3>
				<p>Services, directives, controllers, templates, filters.</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--javascript u-center"></div>
			<div>
				<h3 class="c-skills__heading">JavaScript</h3>
				<p>Object-oriented programming, MVC architecture, DOM manipulation (jQuery).</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--html u-center"></div>
			<div>
				<h3 class="c-skills__heading">HTML5</h3>
				<p>Semantic, accessible markup, new attributes and elements, cross-browser polyfills.</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--css u-center"></div>
			<div>
				<h3 class="c-skills__heading">CSS3</h3>
				<p>CSS3 selectors, cross-browser polyfills, SASS, LESS, naming conventions (OOCSS, SMACSS, BEM), responsive design, media queries, sprites.</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--github u-center"></div>
			<div>
				<h3 class="c-skills__heading">Git/Github</h3>
				<p>Peer review via pull requests, branching.</p>
			</div>
		</div>
	</div>
</section>
<section id="about" class="o-full-section u-center u-2/3">
	<div class="o-row-container">
		<div class="c-about-column u-1/2">
			<p class="c-content-paragraph">I'm a front-end engineer living in Brooklyn, New York City. I have six years of professional experience, but my personal interest in Web development began in 1997 with a fan page on GeoCities&mdash;embarrassing in retrospect, but I can't ignore my roots!</p>
			<p class="c-content-paragraph">Currently, I work as a remote software engineer with Elsevier, a medical publishing company. I've been with Elsevier for about four years, and during that time, I've progressed from a junior- to senior-level role.</p>
			<p class="c-content-paragraph">Before Elsevier, I worked with the University of Delaware as a Web developer. I focused on building interactive Web applications, but my role also included requirements gathering, QA, and some project management.</p>
			<p class="c-content-paragraph">I love development, but I find it important to round that out with other interests. For me, that includes watching movies, reading (especially gothic fiction), learning photography, and experiencing Japanese food and language. I also love whiskey!</p>
			<p class="c-content-paragraph">Please find above more information about my skills and projects I've worked on. Feel free to connect with me through email or on <a href="https://www.linkedin.com/in/cmpetrilla/">LinkedIn</a>.</p>
		</div>
		<div class="c-about-column u-1/2">
			<img src="img/me.jpg" class="u-circle" alt="Me with the Manhattan skyline in the background">
		</div>
	</div>
</section>
{{>footer}}