@import 'variables';

html {
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	color: @gray;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: inherit;
	&:link,
	&:hover,
	&active,
	&:focus {
		color: inherit;
	}
	&:focus {
		outline: 1px dotted #c0c0c0;
	}
}

img {
	max-width: 100%;
}