@import 'variables';

.c-wordmark {
	color: inherit;
	font-size: 1rem;
}

.c-wordmark__name {
	display: block;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: .025em;
	text-transform: uppercase;
}

.c-wordmark__link {
	text-decoration: none;
}

.c-wordmark__title {
	display: block;
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: .02em;
	padding-top: .25em;
}