* {
    font-family: 'Source Sans 3', sans-serif;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a:focus {
    outline: silver dotted 1px;
}

body {
    color: #444444;
    word-break: break-word;
}

img {
    max-width: 100%;
}