<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Christopher Petrilla, Front-end engineer</title>
		<meta name="description" content="Christopher Petrilla, Front-end engineer">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
		<!-- build:css --><!-- endbuild -->
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<header class="section section--header header">
			<h1 class="header__primary-logo-container primary-logo">
				<span class="primary-logo__name">Christopher Petrilla</span>
				<span class="primary-logo__title">Front-end engineer</span>
			</h1>
			<!--<nav class="header__primary-navigation-container primary-navigation">-->
				<!--<ul class="primary-navigation__list">-->
					<!--<li class="primary-navigation__item"><a class="primary-navigation__link" href="#about">About</a></li>-->
					<!--<li class="primary-navigation__item"><a class="primary-navigation__link" href="#skills">Skills</a></li>-->
					<!--<li class="primary-navigation__item"><a class="primary-navigation__link" href="#projects">Projects</a></li>-->
					<!--<li class=primary-navigation__item><a class="primary-navigation__link" href="#contact">Contact</a></li>-->
				<!--</ul>-->
			<!--</nav>-->
		</header>
		<section id="hero" class="section section--hero hero">
			<div class="hero__tagline-container">
				<p class="hero__tagline">Fast, clean, web-based apps and sites</p>
			</div>
			<h2 class="visuallyhidden">Specialties</h2>
			<ul class="hero__specialties-list">
				<li class="hero__specialties-item">Performance</li>
				<li class="hero__specialties-item">Client-side apps</li>
				<li class="hero__specialties-item">Node architecture</li>
				<li class="hero__specialties-item">Scalability</li>
			</ul>
		</section>
		<section id="skills" class="section section--skills skills">
			<h2 class="skills__header">Skills</h2>
			<div class="skills__content-column">
				<div class="skills__item media">
					<div class="sprite node media__figure"></div>
					<div class="media__body-container">
						<h3 class="media__body-heading">NodeJS</h3>
						<p class="media__body-content">Express, Handlebars, Jade, npm, Grunt, Gulp, optimization tasks (e.g., compressed images, minified CSS/JS).</p>
					</div>
				</div>
				<div class="skills__item media">
					<div class="sprite angular media__figure"></div>
					<div class="media__body-container">
						<h3 class="media__body-heading">AngularJS</h3>
						<p class="media__body-content">Services, directives, controllers, templates, filters.</p>
					</div>
				</div>
				<div class="skills__item media">
					<div class="sprite javascript media__figure"></div>
					<div class="media__body-container">
						<h3 class="media__body-heading">Javascript</h3>
						<p class="media__body-content">Object-oriented programming, MVC architecture, DOM manipulation (jQuery).</p>
					</div>
				</div>
			</div>
			<div class="skills__content-column">
				<div class="skills__item media">
					<div class="sprite html media__figure"></div>
					<div class="media__body-container">
						<h3 class="media__body-heading">HTML5</h3>
						<p class="media__body-content">Semantic, accessible markup, new attributes and elements, cross-browser polyfills.</p>
					</div>
				</div>
				<div class="skills__item media">
					<div class="sprite css media__figure"></div>
					<div class="media__body-container">
						<h3 class="media__body-heading">CSS3</h3>
						<p class="media__body-content">CSS3 selectors, cross-browser polyfills, SASS, LESS, naming conventions (OOCSS, SMACSS, BEM), responsive design, media queries, sprites.</p>
					</div>
				</div>
				<div class="skills__item media">
					<div class="sprite github media__figure"></div>
					<div class="media__body-container">
						<h3 class="media__body-heading">Git/Github</h3>
						<p class="media__body-content">Peer review via pull requests, branching.</p>
					</div>
				</div>
			</div>
		</section>
		<!--<section id="projects" class="section">-->
			<!--<h1>Projects</h1>-->
			<!--<div>-->
				<!--<h2>Apothecary</h2>-->
				<!--<p>Cocktail mixing app</p>-->
				<!--<p>MEAN (MongoDB, Express.js, AngularJS, Node.js)</p>-->
			<!--</div>-->
			<!--<div>-->
				<!--<h2>ClinicalKey</h2>-->
				<!--<p>Medical research app</p>-->
				<!--<p>Node, Angular, Handlebars</p>-->
			<!--</div>-->
		<!--</section>-->
		<!--<section id="contact">-->
			<!--<h1>Contact me</h1>-->
			<!--<form action=""></form>-->
		<!--</section>-->
		<!--<section id="about">-->
			<!--<p>NYC-based front-end developer working remotely for Elsevier, Philadelphia office.</p>-->
			<!-- todo: add personal interests -->
			<!--Github link-->
			<!--LinkedIn link-->
		<!--</section>-->
		<footer class="section section--footer footer">
			<small class="footer__copyright">&copy;2016 Christopher Petrilla</small>
			<div class="footer__tools-container">
				<p class="footer__tools-para">Made with &hearts; and the following tools:</p>
				<ul class="footer__tools-list">
					<li class="footer__tools-item">NodeJS/Express</li>
					<li class="footer__tools-item">OpenShift hosting</li>
					<li class="footer__tools-item">Gulp</li>
					<li class="footer__tools-item">LESS</li>
					<li class="footer__tools-item">BEM naming conventions</li>
				</ul>
			</div>
		</footer>
	</body>
</html>
