<footer class="c-footer {{decorator}}">
	<p class="c-footer__copyright u-text-center">&copy;{{copyrightYear}} Christopher Petrilla. Hosted by <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
</footer>