<footer class="c-section">
	<small class="footer__copyright">&copy;2016 Christopher Petrilla</small>
	<div class="footer__tools-container">
		<p class="footer__tools-para">Made with obsessive attention to detail and:</p>
		<ul class="footer__tools-list">
			<li class="footer__tools-item">OpenShift hosting</li>
			<li class="footer__tools-item">Node</li>
			<li class="footer__tools-item">Express</li>
			<li class="footer__tools-item">Gulp</li>
			<li class="footer__tools-item">LESS</li>
			<li class="footer__tools-item">BEM naming conventions</li>
		</ul>
	</div>
</footer>
<!-- @ifdef prod --><script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='https://www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-21656130-1','auto');ga('send','pageview');</script><!-- @endif -->
