<footer class="c-section c-section__footer">
	<p class="c-footer__copyright u-text-center">&copy;2017 Christopher Petrilla. Hosted by <a href="https://www.openshift.com/" target="_blank">OpenShift</a>.</p>
</footer>