<section class="o-column-container c-section c-section__hero">
	{{>header}}
	<div class="o-column-container u-vertical-center">
		<p class="c-hero__tagline u-text-center">Fast, clean, web-based apps and sites</p>
		<h2 class="u-visuallyhidden">Specialties</h2>
		<ul class="o-row-container c-hero__specialties-list u-unstyled-list u-center">
			<li class="c-hero__specialties-item">Performance</li>
			<li class="c-hero__specialties-item">Client-side apps</li>
			<li class="c-hero__specialties-item">Node architecture</li>
			<li class="c-hero__specialties-item">Scalability</li>
		</ul>
	</div>
</section>
<section class="c-section">
	<h2 class="u-text-center c-section__heading">Skills</h2>
	<div class="o-row-container c-skills__content">
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--node u-center"></div>
			<div>
				<h3 class="c-skills__heading">Node</h3>
				<p>Express, Handlebars, Jade, npm, Grunt, Gulp, optimization tasks (e.g., compressed images, minified CSS/JS).</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--angular u-center"></div>
			<div>
				<h3 class="c-skills__heading">Angular</h3>
				<p>Services, directives, controllers, templates, filters.</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--javascript u-center"></div>
			<div>
				<h3 class="c-skills__heading">JavaScript</h3>
				<p>Object-oriented programming, MVC architecture, DOM manipulation (jQuery).</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--html u-center"></div>
			<div>
				<h3 class="c-skills__heading">HTML5</h3>
				<p>Semantic, accessible markup, new attributes and elements, cross-browser polyfills.</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--css u-center"></div>
			<div>
				<h3 class="c-skills__heading">CSS3</h3>
				<p>CSS3 selectors, cross-browser polyfills, SASS, LESS, naming conventions (OOCSS, SMACSS, BEM), responsive design, media queries, sprites.</p>
			</div>
		</div>
		<div class="o-column-container c-skills__item u-text-center">
			<div class="c-sprite c-sprite--github u-center"></div>
			<div>
				<h3 class="c-skills__heading">Git/Github</h3>
				<p>Peer review via pull requests, branching.</p>
			</div>
		</div>
	</div>
</section>
<!--<section id="projects" class="c-section">-->
	<!--<h1>Projects</h1>-->
	<!--<div>-->
		<!--<h2>Apothecary</h2>-->
		<!--<p>Cocktail mixing app</p>-->
		<!--<p>MEAN (MongoDB, Express.js, AngularJS, Node.js)</p>-->
	<!--</div>-->
	<!--<div>-->
		<!--<h2>ClinicalKey</h2>-->
		<!--<p>Medical research app</p>-->
		<!--<p>Node, Angular, Handlebars</p>-->
	<!--</div>-->
<!--</section>-->
<!--<section id="contact">-->
	<!--<h1>Contact me</h1>-->
	<!--<form action=""></form>-->
<!--</section>-->
<!--<section id="about">-->
	<!--<p>NYC-based front-end developer working remotely for Elsevier, Philadelphia office.</p>-->
	<!-- todo: add personal interests -->
	<!--Github link-->
	<!--LinkedIn link-->
<!--</section>-->