<nav class="c-primary-navigation">
	<ul class="u-unstyled-list">
		<li class="c-primary-navigation__item"><a class="c-primary-navigation__link" href="#about">About</a></li>
		{{!--<li class="c-primary-navigation__item"><a class="c-primary-navigation__link" href="#skills">Skills</a></li>--}}
		{{!--<li class="c-primary-navigation__item"><a class="c-primary-navigation__link" href="#projects">Projects</a></li>--}}
		{{!--<li class="c-primary-navigation__item"><a class="c-primary-navigation__link" href="#contact">Contact</a></li>--}}
	</ul>
</nav>